action_defs! {
{% for action_name, pseudocode in cpu_data.actions.items() %}
    {{ action_name|upper }} => |cpu| {
        {% for key, value in action_comments[action_name].items() %}
        // @{{ key }}: {{ value }}
        {% endfor %}
        todo!("Action {{ action_name|upper }}");
    },
{% endfor %}
}