action_defs! {
{% for action_name, pseudocode in cpu_data.actions.items() %}
    {{ action_name|upper }} => |cpu| {
        // @pseudocode: {{ pseudocode }}
        todo!("Action {{ action_name|upper }}");
    },
{% endfor %}
}